# In branch dist, ignore everything but gist
#

# Ignore bundler config.
*
!.gitignore
!dist

*.rbc
.rspec
.rbenv-version
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
*.bowerrc

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# dotenv, dotenv-rails
.env
.env.*

.yarn-integrity

.DS_Store
\#*\#
.\#*
.\~*\#

